# Copiez ce fichier en ".env.local" et remplissez avec l'IP de votre PC
# Trouvez votre IP : ipconfig > cherchez "Adresse IPv4" sous WiFi
# Exemple : 192.168.1.45

REACT_APP_API_URL=http://10.65.237.42:5000/api
REACT_APP_SOCKET_URL=http://10.65.237.42:5000
GENERATE_SOURCEMAP=false
